*{
    padding: 0;
    margin: 0;
    border: none;
}
body{
    font-family: 'Nunito', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
    line-height: 1;
}
label{
    margin: 0px;
}
p{
    margin: 0px;
}
a:hover{
    text-decoration: none;
    color: #dcf836;
}
li{
    list-style-type: none;
}
img{
    width: 100%;
}
.page-single{
    background-color: #020d18;
    padding: 75px 0;
}
.top-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-top: 1px solid #405266;
    border-bottom: 1px solid #405266;
    font-size: 14px;
}
.top-menu p{
    padding-right: 200px;
}
.top-menu label{
    color:#abb7c4;
}
.top-menu select{
    width: 215px;
    -webkit-appearance: none;
    background: url(../images/uploads/drop-icon.png) no-repeat right 20px center;
    border: none;
    border-left: 1px solid #405266;
    border-right: 1px solid #405266;
    color: #ffffff;
    font-weight: 400;
    padding: 6px 12px;
}
.top-menu select option{
    background-color: #020d18;
}
.top-menu a{
    border-right: 1px solid #405266;
    padding: 5px 0px;
}
.top-menu a i{
    padding-right: 10px;
}
.center-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ceb-item{
    margin-bottom: 30px;
}
.ceb-item a{

}
.ceb-item a img{
    margin-bottom: 30px;
}
.ceb-infor{

}
.ceb-infor h2{
    margin-bottom: 5px;
}
.ceb-infor h2 a{
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    text-transform: none;
}
.ceb-infor h2 a:hover{
    color: #dcf836;
}
.ceb-infor span{
    font-family: 'Nunito', sans-serif;
    color: #abb7c4;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 15px;
}
.pagination2{
    padding-left: 100px;
}
.pagination2 span{
    margin-right: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
}
.pagination2 a{
    padding-left: 5px;
    padding-right: 5px;
    border: none    ;
}
.sidebar{
    margin-left: 60px;
}
.searh-form{

}
.sb-title{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #405266;
}
.celebrity-form{
    padding: 0;
    background: none;
    border: none;
}
.form-style-1{
    margin-bottom: 60px;
}
.form-it{
    margin-bottom: 15px;
}
.form-it label{
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 10px;
    display: block;
}
.form-style-1 input{
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
    background-color: #233a50;
    border: none;
    border-radius: 3px !important;
    height: 40px;
}
.form-style-1 select {
    -webkit-appearance: none;
    background: url(../images/uploads/drop-icon.png) no-repeat right 20px center;
    background-color: #233a50;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
    height: 40px;
    width: 100%;
    padding-left: 12px;
}
.form-style-1 select option{

}
.submit input{
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    background: #dd003f;
}
.ads{
    margin-bottom: 60px;
}
.celeb-item{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.celeb-item a img{
    padding-right: 20px;
    border-radius: 3px;
}
.celeb-author h6 a{
    font-family: 'Dosis', sans-serif;
    font-weight: 700;   
    line-height: 1;
    color: white;
    font-size: 14px;
}
.celeb-author span{
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #abb7c4;
    text-transform: uppercase;
    font-weight: 400;
}
.ceb-item-style-2{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
}
.ceb-item-style-2 img{
   width: auto;
   height: 130px;
}
.ceb-item-style-2 .ceb-infor {
    background-color: #091a2c;
    padding: 10px 20px;
    width: 100%;
}
.ceb-item-style-2 .ceb-infor h2 a{
    font-size: 18px;
}
.ceb-item-style-2 .ceb-infor p{
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
    line-height: 24px !important;
}
@media (min-width:992px){

}
@media (max-width:991px){
    .sidebar{
        margin-left: 0px;
    }
    .top-menu p{
        padding-right: 0;
    }
}
@media (max-width:767px){
    .top-menu{
        display: flex;
        flex-direction: column;
        padding: 15px 0;
    }
    .top-menu p{
        padding-right: 0;
    }
    .top-menu a{
        padding: 0px;
        border: none;
    }
    .top-menu select{
        border: 1px solid #405266;;
    }
    i{
        margin: 5px 0px;
    }
    .sidebar{
        margin-left: 0px;
    }
    .ceb-item{
        display: inline-block;
        width: 200px;
    }
    .form-it div select{
        margin-bottom: 10px;
    }
    .ceb-item-style-2 {
        display: flex;
        flex-direction: column;
        background-color: #091a2c;
        padding-top: 20px;}
    .ceb-item-style-2 img{
        margin: 0 auto;
    }   
     .ceb-infor{
         text-align: center;
     }
}