/* @media (max-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (max-width:768px) {
    .container {
        max-width: 720px
    }
} */

@media (max-width:992px) {
    .container {
        width: 100%
    }
    header {
        background-color: #0f2133 !important;
    }
    .nav-cutsom {
        padding: 30px 0px;
    }
    .navbar-header {
        display: none;
    }
    .logo {
        display: flex;
        justify-content: space-between;
    }
    .navbar-responsive {
        width: 100%;
    }
    .navbar-responsive a {
        width: 24%;
    }
    .navbar-responsive .navbar-toggle {
        border: 1px solid #ffffff;
        display: block;
        background: none !important;
        padding: 10px 10px 8px;
        height: 40px;
    }
    .navbar-toggle:focus {
        outline: 0;
    }
    .sr-only {
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }
    header .nav-icon1 {
        width: 15px;
        height: 15px;
        position: relative;
        margin: 0px auto;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }
    header .bar1,
    .bar2,
    .bar3 {
        display: block;
        position: absolute;
        height: 2.5px;
        width: 100%;
        background: #ffffff;
        border-radius: 5px;
        opacity: 1;
        margin-left: 0px;
        transition: 0.25s ease-in-out;
    }
    .bar2 {
        top: 6px;
    }
    .bar3 {
        top: 12px;
    }
    .open .bar1 {
        top: 6px;
        transform: rotate(135deg);
    }
    .open .bar2 {
        opacity: 0;
        left: -60px;
        transition: 0.0005s ease-in-out;
    }
    .open .bar3 {
        top: 6px;
        transform: rotate(-135deg);
    }
    .navbar-header {
        display: none !important;
    }
    .show {
        display: block !important;
    }
    .menu {
        flex-direction: column;
        /* width: 100%; */
        padding: 0;
    }
    .menu-iteam {
        width: 100%;
        position: relative;
        padding: 15px 12px 20px 12px;
    }
    .menu-link {
        padding: 0 !important;
        display: inline !important;
    }
    .sub-menu {
        width: 100%;
        position: absolute;
    }
    /* .menu .menu-iteam:focus .sub-menu {
        opacity: 1;
        visibility: visible;
    } */
    .menu .menu-iteam:focus-within .sub-menu {
        opacity: 1;
        visibility: visible;
    }
    .sub-menu-iteam {
        padding: 10px 15px;
        display: block;
    }
    .sub-menu-link {
        display: inline !important;
    }
    .list-iteam-top {
        display: block !important;
        text-align: left;
        margin-left: 20px;
        width: 100%;
    }
    .list-iteam-top li:nth-child(3),
    li:nth-child(2) {
        display: block;
    }
    .list-iteam-top li:nth-child(3)>button,
    li:nth-child(2)>button {
        width: 100%;
    }
}


/* @media (max-width:1200px) {
    .container {
        max-width: 1140px
    }
} */